@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  text-align: center;
  list-style: none;
}

@media (min-width: 375px) {
  header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 1.25rem;
  }

  .heading-menu {
    display: block;
    transition: all 5s;
    transform: translateY(-200%);
  }

  .homepage {
    background: url(./images/header-shapes\ mobile.png) no-repeat;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 12px;
    background-size: cover;
    background-repeat: no-repeat;
  }

  .close {
    position: absolute;
    margin-right: 3rem;
    transition: all 5s;
    transform: translateY(-20rem);
  }

  .intro {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Poppins', sans-serif;
  }

  .intro h1 {
    font-size: 40px;
    font-weight: 700;
    margin-top: -8rem;
    color: #172b4d;
  }

  .detail {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    padding: 0 20px;
    color: #344563;
    font-family: 'Poppins', sans-serif;
  }

  .connect {
    float: left;
    margin-right: 45%;
  }

  .connect h3 {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #7f8cff;
    text-align: left;
  }

  .cards {
    display: grid;
    padding: 114px 0;
    grid-template-columns: repeat(1, 1fr);
    justify-content: center;
    place-items: center;
    gap: 20px;
    background-color: #e5e5e5;
  }

  .card {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 16px;
    gap: 12px;
    width: 327px;
    height: 600px;
    background: #fff;
    border: 1px solid #def1e6;
    border-radius: 16px;
  }

  .card-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 20px;
  }

  .card-text h3 {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 44px;
    color: #172b4d;
  }

  .card-text h3 span {
    display: block;
    text-align: left;
  }

  ul {
    list-style: none;
  }

  .card-text p {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 24px;
    color: #344563;
    text-align: left;
  }

  .programes ul {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
  }

  .programes li {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 0.03em;
    color: #6070ff;
    background-color: #ebebff;
    border-radius: 8px;
    padding: 4px 12px;
  }

  .card-text button {
    padding: 16px;
    gap: 12px;
    background: #efeaea;
    border: 1px solid #4371e7;
    border-radius: 16px;
    font-style: normal;
    font-weight: 500;
    font-size: 17px;
    line-height: 24px;
    letter-spacing: 0.03em;
    cursor: pointer;
    color: #2f5fd8;
  }

  .BSimage {
    display: none;
  }

  .SSimage {
    display: block;
  }

  .form-line {
    height: 4px;
    background-color: #396df2;
    margin-top: 90px;
  }

  .logos ul {
    display: flex;
    gap: 20px;
    color: #505f79;
    cursor: pointer;
    list-style: none;
    margin-left: -1rem;
    float: left;
  }

  .logo {
    color: #3343ce;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    font-size: 18px;
    animation: rotateonce 1s ease-out;
  }

  .menubars {
    width: auto;
    height: 20%;
    color: #6070ff;
  }

  .conect h3 {
    display: flex;
    font-weight: 700;
    font-size: larger;
    width: 295px;
    height: 36px;
    flex: none;
    flex-grow: 0;
    order: 0;
    font-style: normal;
    line-height: 44px;
    color: #172b4d;
    font-family: 'Poppins', sans-serif;
  }

  .logo-icons ul {
    display: flex;
    gap: 12px;
    justify-content: center;
    align-items: center;
  }

  .expertise ul {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    font-family: 'Poppins', sans-serif;
    color: #344563;
  }

  .about-me {
    background-color: white;
    margin-top: 114px;
    padding: 0 24px;
    display: flex;
    flex-direction: column;
    gap: 12px;
  }

  .about-me h2 {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 52px;
    display: flex;
    align-items: center;
    color: #172b4d;
  }

  .about-me p {
    font-family: 'Poppins', sans-serif;
    text-align: left;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #344563;
  }

  .about-me h4 {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #7f8cff;
    text-align: left;
  }

  .about-me ul {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 24px;
    margin-left: 12px;
  }

  .about-me button,
  .cardio {
    padding: 12px;
    gap: 10px;
    background: #d3c7c7;
    border: 1px solid #3644c1;
    border-radius: 8px;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 17px;
    line-height: 24px;
    letter-spacing: 0.03em;
    color: #2434bd;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 182px;
    height: 48px;
  }

  .form-section form textarea {
    background: #fff;
    border: 1px solid #cfd8dc;
    border-radius: 8px;
    height: 170px;
    padding: 8px;
  }

  .form-section form input {
    background: #fff;
    border: 1px solid #cfd8dc;
    border-radius: 8px;
    height: 48px;
    padding: 0 8px;
  }

  .form-section form input:hover {
    padding-left: 35px;
    transition: 1s ease;
    background-color: #fcff4e;
  }

  .logo:hover {
    padding-left: 35px;
    padding-right: 15px;
  }

  .about-me button::-webkit-validation-bubble-heading {
    background-color: #3d4cce;
    color: #c3c7cf;
  }

  .about-me button:hover,
  .cardio {
    background-color: #3d4bcd;
    color: #e0dcdc;
    box-shadow: 0 8px 16px rgba(40, 54, 182, 0.24);
  }

  .about-me button:active,
  .cardio {
    background-color: #2230d2;
    color: #e7d7d7;
  }

  .card-text button:hover,
  .cardio {
    background-color: #4655e0;
    color: #e8e2e2;
    box-shadow: 0 8px 16px rgba(44, 62, 222, 0.24);
  }

  .card-text button:active {
    background-color: #4451e8;
    color: #c1b4b4;
  }

  .cardio {
    background-color: #fff;
    color: #3d4cd3;
  }

  .card-text button:disabled {
    background-color: #c1c7d0;
    color: #25529f;
  }

  .more-details ul {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    margin: 36px 12px;
  }

  .more {
    display: flex;
    justify-content: space-between;
  }

  .more h3 {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    display: flex;
    align-items: center;
    color: #000;
  }

  .language ul li {
    display: flex;
    align-items: center;
    width: 303px;
    height: 66.72px;
    background: #f7f7f9;
    border-radius: 8px;
    margin: 0 0 0 -24px;
    padding: 0 24px;
    gap: 24px;
  }

  .expertise ul li:first-child {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 13px;
    line-height: 16px;
    color: #344563;
  }

  .language h4 {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 20px;
    display: flex;
    align-items: center;
    color: #253858;
  }

  .form-section {
    background-image: url(./images/backgrcontactme.png);
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    padding: 103px 24px;
    background-color: #6070ff;
    height: auto;
    border-radius: 20% 0 0 0;
    width: 100%;
  }

  .form-section h3 {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 52px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #fff;
    margin-bottom: 12px;
    padding: 80px 80px 0;
  }

  .form-section p {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 28px;
    text-align: center;
    color: #ebebff;
    margin-bottom: 52px;
  }

  .form-section form {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  ::placeholder {
    padding: 15px 16px;
  }

  .liner {
    width: 134px;
    height: 5px;
    background: #0d151e;
    border-radius: 10px;
    margin: 15px 110px;
  }
}

@media (min-width: 768px) {
  .cards {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 1058px) {
  .cards {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media screen and (min-width: 768px) {
  header {
    margin: 0 0;
    background: #fff;
    position: fixed;
    height: 72px;
    width: 100%;
    box-shadow: 1px 1px 2px 1px rgba(0, 0, 0, 0.2);
  }

  .logo {
    margin-left: 155px;
  }

  p {
    font-family: 'Poppins', sans-serif;
    text-align: left;
    font-weight: 400;
    font-size: 20px;
    line-height: 28px;
    color: #344563;
  }

  .homepage {
    background: url(./images/Aboutme-Big-screen.png) no-repeat;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 12px;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 200px 100px;
    margin: 0;
  }

  .intro {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .intro h1 {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 60px;
    display: flex;
    text-align: left;
    letter-spacing: 0.37px;
    color: #091e42;
    margin-top: 100px;
  }

  .detail {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 28px;
    color: #344563;
    padding: 0;
    width: 70%;
  }

  .connect {
    padding: 0;
  }

  .connect h3 {
    display: flex;
    flex-direction: row;
    align-items: start;
    justify-content: left;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
  }

  .logos ul {
    display: flex;
    gap: 20px;
    color: #2a549c;
    list-style: none;
    margin-left: 0.1rem;
    margin-top: 0.5rem;
    justify-content: center;
    align-items: center;
  }

  .break {
    display: none;
  }

  .heading-menu {
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: center;
    gap: 32px;
    font-family: 'Poppins', sans-serif;
    color: #634634;
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 20px;
    margin-right: 155px;
    transition: all 5s;
    transform: translateY(-200%);
  }


  .close {
    position: absolute;
    margin-right: 3rem;
    transition: all 5s;
    transform: translateY(-20rem);
  }

  .menubars {
    display: none;
  }

  .cards {
    grid-template-columns: repeat(1, 1fr);
  }

  .card {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 16px;
    gap: 46px;
    height: 368px;
    width: 738px;
    border-radius: 24px;
    margin: 60px 0;
  }

  /* .card:nth-child(even) {
    flex-direction: row-reverse;
    padding: 48px;
  } */

  .card-image img {
    height: 336px;
    width: 302px;
    border-radius: 8px;
    padding: 24px;
  }

  .form-section {
    background: #6070ff;
    background-image: url(./images/Aboutme-Big-screen.png);
    background-position: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    justify-content: center;
    align-items: center;
  }
}

@media screen and (min-width: 1280px) {
  .logo {
    margin-left: 155px;
  }

  .card {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 16px;
    gap: 46px;
    height: 496px;
    width: 1156px;
    border-radius: 24px;
    margin: 60px 0;
  }

  .card-image img {
    height: 448px;
    width: 544px;
    border-radius: 8px;
    padding: 24px;
  }

  .card-text h3 {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 52px;
    color: #091e42;
  }

  .card-text h3 span {
    display: inline;
  }

  .BSimage {
    display: block;
  }

  .SSimage {
    display: none;
  }

  .about-me {
    display: flex;
    flex-direction: row;
    padding: 166px 182px 166px 143px;
  }

  .bigscreen {
    width: 447px;
    display: flex;
    flex-direction: column;
    gap: 12px;
  }

  .more-details {
    width: 608px;
    margin: -30px 0 0 60px;
  }

  .language ul li {
    flex-direction: column;
    display: flex;
    align-items: center;
    width: 122px;
    height: 120px;
    background: #f7f7f9;
    border-radius: 8px;
    margin: 0 0 0 -24px;
    padding: 0 24px;
    gap: 16px;
    justify-content: center;
  }

  .language ul {
    display: flex;
    flex-direction: row;
    gap: 36px;
  }

  .form-section p {
    width: 25%;
  }

  .form-section form input,
  .form-section form textarea {
    border-radius: 0;
  }

  .cardio {
    align-self: center;
  }
}
