@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #fff;
}

@media (min-width: 375px) {
  header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 1.25rem;
  }

  .homepage {
    background: url(./images/header-shapes\ mobile.png) no-repeat;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 12px;
  }

  .intro {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Poppins', sans-serif;
  }

  .intro h1 {
    font-size: 40px;
    font-weight: 700;
    margin-top: -8rem;
    color: #172b4d;
  }

  .detail {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    padding: 0 20px;
    color: #344563;
    font-family: 'Poppins', sans-serif;
  }

  .connect h3 {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #7f8cff;
  }

  .cards {
    display: grid;
    padding: 114px 0;
    grid-template-columns: repeat(1, 1fr);
    justify-content: center;
    place-items: center;
    gap: 20px;
    background-color: #e5e5e5;
  }

  .card {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 16px;
    gap: 12px;
    width: 327px;
    height: 600px;
    background: #fff;
    border: 1px solid #def1e6;
    border-radius: 16px;
  }

  .card-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 20px;
  }

  .card-text h3 {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 44px;
    color: #172b4d;
  }

  .card-text h3 span {
    display: block;
    text-align: left;
  }

  ul {
    list-style: none;
  }

  .card-text p {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 24px;
    color: #344563;
    text-align: left;
  }

  .programes ul {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
  }

  .programes li {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 0.03em;
    color: #6070ff;
    background-color: #ebebff;
    border-radius: 8px;
    padding: 4px 12px;
  }

  .card-text button {
    padding: 16px;
    gap: 12px;
    background: #fff;
    border: 1px solid #396df2;
    border-radius: 16px;
    font-style: normal;
    font-weight: 500;
    font-size: 17px;
    line-height: 24px;
    letter-spacing: 0.03em;
    cursor: pointer;
    color: #396df2;
  }

  .logos ul {
    display: flex;
    gap: 20px;
    color: #505f79;
    cursor: pointer;
    list-style: none;
    margin-left: -1rem;
    justify-content: center;
    align-items: center;
  }

  .logo {
    color: #6070ff;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    font-size: 18px;
  }

  .menubars {
    width: auto;
    height: 20%;
    color: #6070ff;
  }

  .conect h3 {
    display: flex;
    font-weight: 700;
    font-size: larger;
    width: 295px;
    height: 36px;
    flex: none;
    flex-grow: 0;
    order: 0;
    font-style: normal;
    line-height: 44px;
    color: #172b4d;
    font-family: 'Poppins', sans-serif;
  }

  .logo-icons ul {
    display: flex;
    gap: 12px;
    justify-content: center;
    align-items: center;
  }

  .expertise ul {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    font-family: 'Poppins', sans-serif;
    color: #344563;
  }

  .about-me {
    background-color: white;
    margin-top: 114px;
    padding: 0 24px;
    display: flex;
    flex-direction: column;
    gap: 12px;
  }

  .about-me h2 {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 52px;
    display: flex;
    align-items: center;
    color: #172b4d;
  }

  .about-me p {
    font-family: 'Poppins', sans-serif;
    text-align: left;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #344563;
  }

  .about-me h4 {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #7f8cff;
    text-align: left;
  }

  .about-me ul {
    display: flex;
    align-items: center;
    gap: 24px;
    margin-left: 12px;
  }

  .about-me button {
    padding: 12px;
    gap: 10px;
    background: #fff;
    border: 1px solid #7f8cff;
    border-radius: 8px;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 17px;
    line-height: 24px;
    letter-spacing: 0.03em;
    color: #396df2;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 182px;
    height: 48px;
  }

  .about-me button:hover {
    background-color: #6070ff;
    color: #fff;
    box-shadow: 0 2px 10px #6070ff;
  }

  .about-me button:active {
    background-color: #2230d2;
    color: #fff;
  }

  .about-me button:disabled {
    background-color: #c1c7d0;
    color: #5e6c84;
  }

  .card-text button:hover {
    background-color: #6070ff;
    color: #fff;
    box-shadow: 0 2px 10px #6070ff;
  }

  .card-text button:active {
    background-color: #2230d2;
    color: #fff;
  }

  .card-text button:disabled {
    background-color: #c1c7d0;
    color: #5e6c84;
  }

  .more-details ul {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    margin: 36px 12px;
  }

  .more {
    display: flex;
    justify-content: space-between;
  }

  .more h3 {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    display: flex;
    align-items: center;
    color: #000;
  }

  .language ul li {
    display: flex;
    align-items: center;
    width: 303px;
    height: 66.72px;
    background: #f7f7f9;
    border-radius: 8px;
    margin: 0 0 0 -24px;
    padding: 0 24px;
    gap: 24px;
  }

  .expertise ul li:first-child {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 13px;
    line-height: 16px;
    color: #344563;
  }

  .language h4 {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 20px;
    display: flex;
    align-items: center;
    color: #253858;
  }
}

@media (min-width: 768px) {
  .cards {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 1058px) {
  .cards {
    grid-template-columns: repeat(3, 1fr);
  }
}

body {
  text-align: center;
  list-style: none;
}

#contact_form {
  display: flex;
  flex-direction: column;
  padding: 114px 24px;
  grid-gap: 24px;
  background: #6070ff;
  border-radius: 5rem 0 0 0;
  background-image: url(./images/header-shapes\ mobile.png);
  background-size: cover;

  .contact_detail {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;

    .head {
      font-style: normal;
      font-weight: 700;
      font-size: 40px;
      line-height: 52px;
      display: flex;
      align-items: center;
      text-align: center;
      color: white;
    }

    .detail {
      font-style: normal;
      font-weight: 400;
      font-size: 20px;
      line-height: 28px;
      text-align: center;
      color: #ebebff;
    }
  }

  .form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }
  .p {
    font-family: 'Poppins', sans-serif;
    text-align: left;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #344563;
  }

    .input {
      padding: 12px;
      background: white;
      border: 1px solid #cfd8dc;
      border-radius: 8px;
    }
    .button {
      padding: 12px;
      gap: 10px;
      background: #fff;
      border: 1px solid #7f8cff;
      border-radius: 8px;
      font-family: 'Poppins', sans-serif;
      font-style: normal;
      font-weight: 500;
      font-size: 17px;
      line-height: 24px;
      letter-spacing: 0.03em;
      color: #396df2;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      width: 182px;
      height: 48px;
    }
    .button {
      align-self: flex-start;
      background: white;
      border: 1px solid #7f8cff;
      border-radius: 8px;
    }

    .button:hover {
      background: #6070ff;
      box-shadow: 0 8px 16px rgba(64, 83, 252, 0.24);
      border-radius: 8px;
    }

    .button :active {
      background: #2230d2;
      border-radius: 8px;
    }

    .sbutton:disabled {
      border: 1px solid #c1c7c0;
      border-radius: 8px;
    }