@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap');

@media (min-width: 375px) {
  header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 1.25rem;
  }

  .homepage {
    background: url(./images/header-shapes\ mobile.png) no-repeat;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .intro {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Poppins', sans-serif;
  }

  .intro h1 {
    font-size: 40px;
    font-weight: 700;
    margin-top: -3rem;
    color: #172b4d;
  }

  .detail {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    padding: 0 20px;
    margin: -3rem 0 0 1rem;
    color: #344563;
    font-family: 'Poppins', sans-serif;
  }

  .connect {
    margin: -1rem 0 0 -8rem;
    font-family: 'Poppins', sans-serif;
  }

  .connect h3 {
    color: #7f8cff;
    margin-left: 1.5rem;
    font-weight: 500;
    line-height: 24px;
    font-size: 16px;
  }

  .logos ul {
    display: flex;
    gap: 20px;
    color: #505f79;
    cursor: pointer;
    list-style: none;
    margin-left: -1rem;
    justify-content: center;
    align-items: center;
  }

  .logo {
    color: #6070ff;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    font-size: 18px;
  }

  .menubars {
    width: auto;
    height: 20%;
    color: #6070ff;
  }

  .cards {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 40px;
  }

  .card {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 16px;
    width: 327px;
    height: 596px;
    border: 1px solid #DFE1E6;
    border-radius: 16px;
    background-color: white;
  }

  .card-image img {
    width: 295px;
    height: 220px;
  }

  ul {
    list-style: none;
  }

  .card-text button {
    display: flex;
    flex-direction: column;   
    width: 137px;    
    background: #FFFFFF;
    border: 1px solid #7F8CFF;    
    box-sizing: border-box;    
    padding: 16px;
    gap: 12px;        
    background: #FFFFFF;    
    border-radius: 16px;    
    order: 0;
    flex-grow: 0;
    font-size: 17px;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;   
    color: #396df2;
  }
  .card-text {
    display: flex;
    flex-direction: column;
  }
  h3 {
    display: flex;
    font-weight: 700;
    font-size: larger;
    width: 295px;
    height: 36px;
    flex: none;
    flex-grow: 0;
    order: 0;
    font-size: 32px;
    font-style: normal;
    line-height: 44px;
    color: #172b4d;
    font-family: 'Poppins';
  }

  .programes ul {
    display: flex;
    color: #5070ff;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    letter-spacing: 0.03em;
    gap: 12px;
  }
  
  .programes ul li {
    width: 68px;
    height: 16px;
    font-weight: 500;
    font-size: 12px;
    line-height: 16px;   
    letter-spacing: 0.03em;
    color: #6070ff; 
    flex: none;
    order: 0;
    flex-grow: 0;
    font-weight: 600;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 3%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 12px 10px;
    background: #ebebff;
    border-radius: 8px
  }
   .expertise ul {
    display: flex;
    gap: 12px;
  }

  .expertise li span {
    height: 8px;
    width: 8px;
    background-color: #172b4d;
  }

  .contactme {
    background: url(./images/header-shapes\ mobile.png) no-repeat;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
}

body {
  text-align: center;
  list-style: none;

}

